@import 'utilities.css';
:root{
    --dark:#161616;
    --primary:#3DCFD3;
    --pure:#ffffff;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
header{
    background-color: var(--dark);
    height: 800px;
}
body{
    font-family: 'Poppins',sans-serif;
    height: 8000px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
.Container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
    
}
header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
color: var(--primary);
}
header nav{
    padding :0rem 0;
}
header nav.branding{
    margin-right: 3rem;
}
hero.left img{
    padding: 50rem;
}
.Container .left img{
    width:100px;

}
.hero .right{
    color: var(--pure);
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;

}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1 span{
    color:var(--primary);
}
.hero .right p{
    margin-bottom: 2rem;
    line-height: 1.9;
}
.flex-1{
    width: 200px;
    height: 200px;
    border-radius: 2px 0px;
}
.hero{
    padding: 5rem;
}
.hero .right{
    margin-bottom: 80rem;
    margin-left: 10rem;
}
flex-2 .right{
    margin-right: 100px;
}

section.about .about-me{
height: 550px;
display: block;
    margin-left: 500px;
    margin-right: 500px;
    width: auto;
}
section{
padding: 6rem 0;
resize: horizontal;
}
section.about h1{
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
} 
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section{
margin-bottom: 200px;
}
section.about p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}
.section-heading{
    color: #070606;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading span{
    columns: var(--primary);
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato',sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}
section.about{
    margin-bottom: 300px;
}
.section-head{
    text-align:center;
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:2rem;
    grid-row-gap:6rem;

}
section.services{
background: var(--light);
}
section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.6rem;
    left:50%;
    transform: translateX(-50%);
}

section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
}
section.services .card-wrapper .card:hover h2,section.services .card-wrapper .card:hover p{
    color: var(--pure);
}
section.section-heading h1 span{
    color: var(--primary);
}
section.freelencer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0,100% 0,100% 100%,67% 80%,0 100%);
    padding-bottom: 14rem;
}
section.freelencer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelencer p{
    margin-bottom: 2rem;
    font-family: 'Lato',sans-serif;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
   
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--secondary);
    font-weight: 400;
}
section.contact{
    background: url(../images/back.jpg);
}
section.contact .section-heading span{
    color:var(--primary);
}
hero.left img{
    margin-top: 1000px;
}